.main-post{
    margin-left: 350px;
}

.post-wrapper{
    margin-top: 35px;
    margin-bottom: 4    0px;
    padding: 14px;
    border-radius: 10px;
    border:  1px solid white;
}

.postImg{
    width: 100%;
    height: 350px;
}

.postTitle{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
  font-weight: 500;
  background: linear-gradient(90deg, #FF8A00 -0.07%, #8300b3 100.07%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
display: inline-block;
border-bottom: 2px solid transparent;
}

.postText{
    font-size: 15px;
}



